@model IEnumerable<Modelo.Cadastro.Estoque>

@{
    ViewData["Title"] = "Estoque";
}
<h1>Estoque</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Entrada Mercadoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Fabricante.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorUnitario)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstoqueId" class="btn btn-outline-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EstoqueId" class="btn btn-outline-secondary btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EstoqueId" class="btn btn-outline-warning btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
