@model IEnumerable<Modelo.Cadastro.Estoque>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Estoque</h1>

<p>
    <a asp-action="EntradaMercadoria" class="btn btn-outline-success">Entrada Mercadoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Produto</label>
            </th>
            <th>
                <label>Quantidade</label>
            </th>
            <th>
                <label>Valor Unitario</label>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Nome)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EstoqueId" class="btn btn-outline-primary btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EstoqueId" class="btn btn-outline-secondary btn-sm">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.EstoqueId" class="btn btn-outline-warning btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
