@model Modelo.Cadastro.Produto

@{
    ViewData["Title"] = "Remover Produto";
}

<h3>Você quer mesmo remover o produto @Html.DisplayFor(model => model.Nome)?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodBarra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodBarra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Perfil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Perfil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricante.Nome)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <tr>
            <td>
                <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            </td>
            <td>
                 <a asp-action="Index" class="btn btn-outline-info">Voltar</a>
            </td>
        </tr>       
    </form>
</div>
