@model IEnumerable<Modelo.Cadastro.Produto>

@{
    ViewData["Title"] = "Pneus";
}

<h1>Pneus</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Adicionar Pneu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodBarra)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Fabricante.Nome)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                        </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.CodBarra)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-outline-primary btn-sm">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-outline-secondary btn-sm">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-outline-warning btn-sm">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
